body {
  margin-left: 50px;
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 50px;
}
p, h2, form, input {
  display: inline;
  margin-right: 15px;
}
table, th, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
}
td, th {
  min-width: 200px;
  padding: 10px 5px 10px 5px;
}
tr:nth-child(2n) {
  background-color: #cccccc;
}
tr:nth-child(2n+1) {
  background-color: white;
}

th {
  background-color: black;
  color: white;
  font-size: 26px;
}
table {
  margin-top: 30px;
}
td:last-child {
  text-align: center;
  padding: 0;
}
button {
  height: 100%;
  width:100%;
  background-color: lightslategray;
  font-size: 18px;
}
button:hover {
  background-color: darkslategray;
  color: white;
}
form {
  background-color: yellowgreen;
  font-size: 22px;

}
h1, h2 {
  text-shadow: -2px 2px black;
  color: yellowgreen;
  text-decoration: underline;
}
h1 {
  font-size: 5em;
  margin-top: -10px;
}
h2 {
  font-size: 2em;
}
